h1=  title

.cols
	.col.col3
		p WeeAcorn is a local Kansas City photography company specializing in engagement photo shoots, maternity and baby sessions, family portraits, and senior pictures.  We understand how important these life events are and want to help you remember them in a way that truly captures the personality of you and those you love.