h1=  title

#gallery.ad-gallery
	.ad-image-wrapper
	.ad-controls
	.ad-nav
		.ad-thumbs
			ul.ad-thumb-list
			

script(src="/javascripts/jquery.tmpl.js")
script(src="/javascripts/slideshow.tmpl.js")
script(src="/javascripts/jquery.ad-gallery.js")
script
	var images = [
	{Album: "", File: "1LaurenAaronEngagement-10.jpg"},
	{Album: "", File: "2SaraAndGrant-5.jpg"},
	{Album: "", File: "3LaurenAaronEngagement-11.jpg"},
	{Album: "", File: "4SaraAndGrant-3.jpg"},
	{Album: "", File: "5LaurenAaronEngagement-13.jpg"},
	{Album: "", File: "6BrandonTina-1.jpg"},
	{Album: "", File: "7LaurenAaronEngagement-1.jpg"},
	{Album: "", File: "8SaraAndGrant-6.jpg"},
	{Album: "", File: "9LaurenAaronEngagement-15.jpg"},
	{Album: "", File: "10LaurenAaronEngagement-14.jpg"},
	{Album: "", File: "11LaurenAaronEngagement-16.jpg"},
	{Album: "", File: "12SaraAndGrant-9.jpg"},
	{Album: "", File: "13LaurenAaronEngagement-7.jpg"},
	{Album: "", File: "14LaurenAaronEngagement-8.jpg"},
	{Album: "", File: "15LaurenAaronEngagement-12.jpg"},
	{Album: "", File: "16SaraAndGrant-11.jpg"},
	{Album: "", File: "17LaurenAaronEngagement-19.jpg"},
	{Album: "", File: "18SaraAndGrant-1.jpg"},
	{Album: "", File: "19LaurenAaronEngagement-18.jpg"},
	{Album: "", File: "20SaraAndGrant-10.jpg"},
	{Album: "", File: "21LaurenAaronEngagement-17.jpg"},
	{Album: "", File: "22SaraAndGrant-2.jpg"},
	{Album: "", File: "23LaurenAaronEngagement-2.jpg"},
	{Album: "", File: "24LaurenAaronEngagement-20.jpg"},
	{Album: "", File: "25LaurenAaronEngagement-3.jpg"},
	{Album: "", File: "26SaraAndGrant-4.jpg"},
	{Album: "", File: "27LaurenAaronEngagement-4.jpg"},
	{Album: "", File: "28SaraAndGrant-7.jpg"},
	{Album: "", File: "29LaurenAaronEngagement-5.jpg"},
	{Album: "", File: "30SaraAndGrant-8.jpg"},
	{Album: "", File: "31LaurenAaronEngagement-6.jpg"},
	{Album: "", File: "32LaurenAndAaron-3.jpg"},
	{Album: "", File: "33LaurenAaronEngagement-9.jpg"},
	{Album: "", File: "34LaurenAndAaron-4.jpg"}
	];
	
	BuildImageList(images, "photography", "engagement");
	
	var galleries = $('.ad-gallery').adGallery({
		effect: 'fade',
		width: '800px',
		height: '530px'
	});