h1=  title

#gallery.ad-gallery
	.ad-image-wrapper
	.ad-controls
	.ad-nav
		.ad-thumbs
			ul.ad-thumb-list
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/1.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/1.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/LaurenAndAaron1.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/LaurenAndAaron1.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/LaurenAndAaron2.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/LaurenAndAaron2.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant1.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant1.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant2.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant2.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant3.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant3.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant4.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant4.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant5.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant5.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant6.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant1.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant7.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant7.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant8.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant8.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant9.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant9.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/engagement/SaraAndGrant10.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/engagement/SaraAndGrant10.jpg")

						


script(src="/javascripts/jquery.ad-gallery.js")
script
	var galleries = $('.ad-gallery').adGallery({
		effect: 'fade',
		width: '800px',
		height: '530px'
	});