h1=  title

#gallery.ad-gallery
	.ad-image-wrapper
	.ad-controls
	.ad-nav
		.ad-thumbs
			ul.ad-thumb-list	

script(src="/javascripts/jquery.tmpl.js")
script(src="/javascripts/slideshow.tmpl.js")
script(src="/javascripts/jquery.ad-gallery.js")
script
	var images = [
	{Album: "", File: "1Graham9Months-2.jpg"},
	{Album: "", File: "2WesAndCasey-9.jpg"},
	{Album: "", File: "3WesAndCasey-5.jpg"},
	{Album: "", File: "4GrahamBday-3.jpg"},
	{Album: "", File: "5GrahamBday-1.jpg"},
	{Album: "", File: "6Graham9Months-3.jpg"},
	{Album: "", File: "7WesAndCasey-2.jpg"},
	{Album: "", File: "8WesAndCasey-8.jpg"},
	{Album: "", File: "9WesAndCasey-10.jpg"},
	{Album: "", File: "10WesAndCasey-6.jpg"},
	{Album: "", File: "11WesAndCasey-11.jpg"},
	{Album: "", File: "12Graham9Months-4.jpg"},
	{Album: "", File: "13WesAndCasey-7.jpg"},
	{Album: "", File: "14WesAndCasey-1.jpg"},
	{Album: "", File: "15WesAndCasey-3.jpg"},
	{Album: "", File: "16Graham9Months-5.jpg"},
	{Album: "", File: "17WesAndCasey-12.jpg"},
	{Album: "", File: "18GrahamBday-2.jpg"},
	{Album: "", File: "19WesAndCasey-4.jpg"}
	];

	BuildImageList(images, "photography", "family");
	
	var galleries = $('.ad-gallery').adGallery({
		effect: 'fade',
		width: '800px',
		height: '530px'
	});