h1=  title

#gallery.ad-gallery
	.ad-image-wrapper
	.ad-controls
	.ad-nav
		.ad-thumbs
			ul.ad-thumb-list	

script(src="/javascripts/jquery.tmpl.js")
script(src="/javascripts/slideshow.tmpl.js")
script(src="/javascripts/jquery.ad-gallery.js")
script
	var images = [
	{Album: "Graham9Months", Full: "Graham9Months-2.jpg", Thumb: "Graham9months-1.jpg"},
	{Album: "Graham9Months", Full: "Graham9Months-3.jpg", Thumb: "Graham9months-2.jpg"},
	{Album: "Graham9Months", Full: "Graham9Months-4.jpg", Thumb: "Graham9months-3.jpg"},
	{Album: "Graham9Months", Full: "Graham9Months-5.jpg", Thumb: "Graham9months-4.jpg"},
	
	{Album: "GrahamBday", Full: "GrahamBday-1.jpg", Thumb: "GrahamBday-1.jpg"},
	{Album: "GrahamBday", Full: "GrahamBday-2.jpg", Thumb: "GrahamBday-2.jpg"},
	{Album: "GrahamBday", Full: "GrahamBday-3.jpg", Thumb: "GrahamBday-3.jpg"},
	
	
	{Album: "WesAndCasey", Full: "WesAndCasey-1.jpg", Thumb: "WesAndCasey-1.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-2.jpg", Thumb: "WesAndCasey-2.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-3.jpg", Thumb: "WesAndCasey-3.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-4.jpg", Thumb: "WesAndCasey-4.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-5.jpg", Thumb: "WesAndCasey-5.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-6.jpg", Thumb: "WesAndCasey-6.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-7.jpg", Thumb: "WesAndCasey-7.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-8.jpg", Thumb: "WesAndCasey-8.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-9.jpg", Thumb: "WesAndCasey-9.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-10.jpg", Thumb: "WesAndCasey-10.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-11.jpg", Thumb: "WesAndCasey-11.jpg"},
	{Album: "WesAndCasey", Full: "WesAndCasey-12.jpg", Thumb: "WesAndCasey-12.jpg"}
	];

	BuildImageList(images, "photography", "family");
	
	var galleries = $('.ad-gallery').adGallery({
		effect: 'fade',
		width: '800px',
		height: '530px'
	});