h1=  title

#gallery.ad-gallery
	.ad-image-wrapper
	.ad-controls
	.ad-nav
		.ad-thumbs
			ul.ad-thumb-list
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Cables1.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Cables1.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Cables4.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Cables4.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Cables5.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Cables5.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles1.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles1.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles2.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles2.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles3.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles3.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles4.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles4.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles5.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles5.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles6.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles6.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles7.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles7.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles8.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles8.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles9.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles9.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles10.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles10.jpg")
				li
					a(href="http://s3.amazonaws.com/ShannonRoman/full/family/Castles11.jpg")
						img.image0(src="http://s3.amazonaws.com/ShannonRoman/thumb/family/Castles11.jpg")

						


script(src="/javascripts/jquery.ad-gallery.js")
script
	var galleries = $('.ad-gallery').adGallery({
		effect: 'fade',
		width: '800px',
		height: '530px'
	});