- scripts.push('index.js');

#slides
	ul
		li: img(src='images/homeslides/BrandonandTina.png', width='800', height='400')
		li: img(src='images/homeslides/BetweenBranches.png', width='800', height='400')
		li: img(src='images/homeslides/Givingmomabite.png', width='800', height='400')
		li: img(src='images/homeslides/LaurenandAaron.png', width='800', height='400')
		li: img(src='images/homeslides/SaraandGrant.png', width='800', height='400')
		li: img(src='images/homeslides/Wessneakybehindchair.png', width='800', height='400')