- scripts.push('index.js');

#slides
	ul
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/1.jpg')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/2.jpg')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/3.jpg')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/4.jpg')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/5.jpg')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/6.jpg')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/7.jpg')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/8.jpg')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/9.jpg')