- scripts.push('index.js');

#slides
	ul
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/BrandonandTina.png', width='800', height='400')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/BetweenBranches.png', width='800', height='400')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/Givingmomabite.png', width='800', height='400')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/LaurenandAaron.png', width='800', height='400')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/SaraandGrant.png', width='800', height='400')
		li: img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/Wessneakybehindchair.png', width='800', height='400')