h1=  title

#gallery.ad-gallery
	.ad-image-wrapper
	.ad-controls
	.ad-nav
		.ad-thumbs
			ul.ad-thumb-list
	


script(src="/javascripts/jquery.tmpl.js")
script(src="/javascripts/slideshow.tmpl.js")
script(src="/javascripts/jquery.ad-gallery.js")
script
	var images = [
	{Album: "", Full: "Painting-1.jpg", Thumb: "PaintingThumbnail-1.jpg"},
	{Album: "", Full: "Painting-2.jpg", Thumb: "PaintingThumbnail-2.jpg"},
	{Album: "", Full: "Painting-3.jpg", Thumb: "PaintingThumbnail-3.jpg"},
	{Album: "", Full: "Painting-4.jpg", Thumb: "PaintingThumbnail-4.jpg"},
	{Album: "", Full: "Painting-5.jpg", Thumb: "PaintingThumbnail-5.jpg"},
	{Album: "", Full: "Painting-6.jpg", Thumb: "PaintingThumbnail-6.jpg"},
	{Album: "", Full: "Painting-7.jpg", Thumb: "PaintingThumbnail-7.jpg"},
	{Album: "", Full: "Painting-8.jpg", Thumb: "PaintingThumbnail-8.jpg"},
	];

	BuildImageList(images, "painting", "KidsRoom");
	
	var galleries = $('.ad-gallery').adGallery({
		effect: 'fade',
		width: '800px',
		height: '530px'
	});