h1=  title

#gallery.ad-gallery
	.ad-image-wrapper
	.ad-controls
	.ad-nav
		.ad-thumbs
			ul.ad-thumb-list
	


script(src="/javascripts/jquery.tmpl.js")
script(src="/javascripts/slideshow.tmpl.js")
script(src="/javascripts/jquery.ad-gallery.js")
script
	var images = [
	{Album: "", File: "1KidsPainting-1.jpg"},
	{Album: "", File: "2KidsPainting-2.jpg"},
	{Album: "", File: "3KidsPainting-3.jpg"},
	{Album: "", File: "4KidsPainting-4.jpg"},
	{Album: "", File: "5KidsPainting-5.jpg"},
	{Album: "", File: "6KidsPainting-6.jpg"},
	{Album: "", File: "7KidsPainting-7.jpg"},
	{Album: "", File: "8KidsPainting-8.jpg"},
	];

	BuildImageList(images, "painting", "KidsRoom");
	
	var galleries = $('.ad-gallery').adGallery({
		effect: 'fade',
		width: '800px',
		height: '530px'
	});