!!! 5
html
	head
		title Shannon Roman Photography and Painting
		link(href='http://fonts.googleapis.com/css?family=Cookie', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/jquery.ad-gallery.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
		!= renderScriptTags(scripts)
	body
		#container
			header
				a(href="/")
					img(src='/images/WeeAcornLogo.jpg', alt='WeeAcorn Logo')
				nav
					ul
						li: a(href="/") Home
						li Photography
							ul
								li: a(href="/photography/engagement") Engagement
								li: a(href="/photography/family") Family
								li: a(href="/photography/senior") Senior Portraits
						li: a(href="/painting") Painting
						li: a(href="/about") About
						li: a(href="/contact") Contact
			#content		
				!= body
				
			footer
				p &copy; 2012 WeeAcorn
				p.facebook Connect with WeeAcorn
					a(href="http://www.facebook.com/WeeAcorn")
						img(src="/images/facebook-logo.jpg")