h1=  title

#gallery.ad-gallery
	.ad-image-wrapper
	.ad-controls
	.ad-nav
		.ad-thumbs
			ul.ad-thumb-list
	


script(src="/javascripts/jquery.tmpl.js")
script(src="/javascripts/slideshow.tmpl.js")
script(src="/javascripts/jquery.ad-gallery.js")
script
	var images = [
	{Album: "", File: "1Painting-9.jpg"},
	{Album: "", File: "2Painting-10.jpg"},
	{Album: "", File: "3Painting-11.jpg"},
	{Album: "", File: "4Painting-12.jpg"},
	{Album: "", File: "5Painting-13.jpg"},
	{Album: "", File: "6Painting-15.jpg"},
	{Album: "", File: "7Painting-14.jpg"},
	{Album: "", File: "8Painting-16.jpg"},
	{Album: "", File: "9Painting-17.jpg"},
	];

	BuildImageList(images, "painting", "OtherOriginal");
	
	var galleries = $('.ad-gallery').adGallery({
		effect: 'fade',
		width: '800px',
		height: '530px'
	});