h1=  title
#albums
	ul
		li
			a(href="/photography/BrandonandTina")
				img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/1.jpg', width='190', height='110')
				span Brandon &amp; Tina
		li
			a(href="/photography/RebeccaRoman")
				img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/2.jpg', width='190', height='110')
				span Rebecca Roman
		li
			a(href="/photography/WesleyCastle")
				img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/3.jpg', width='190', height='110')
				span Wesley Castle
		li
			a(href="/photography/LaurenandAaron")
				img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/4.jpg', width='190', height='110')
				span Lauren &amp; Aaron
	ul
		li
			a(href="/photography/SaraandGrant")
				img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/5.jpg', width='190', height='110')
				span Sara &amp; Grant
		li
			a(href="/photography/WesleyCastle")
				img(src='https://s3.amazonaws.com/ShannonRoman/homeslides/6.jpg', width='190', height='110')
				span Wesley Castle