/* Variables */
main-grey = #6c6c6c

/* General Styles */
* 
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

body
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-image url(sprites/body_bg.png)

#container
	width 980px
	background-color #fff
	margin 25px auto
	padding 20px 0
	
h1
	color main-grey
	font-weight normal

header
	text-align center
	clearfix()
	nav
		margin-left 270px
		ul
			padding 0
			margin 0
			clearfix()
			li 
				float left
				position relative
				font-size 12px
				text-transform uppercase
				color main-grey
				a
					color main-grey
					text-decoration none
				a:hover
					text-decoration underline
				ul
					display none
					position absolute
					top 100%
					z-index 10
					background-color rgba(250, 250, 250, 0.75)
					li
						display block
						width 150px
						text-align left
						margin-top 12px
						margin-bottom 3px
						padding-left 3px
					li + li
						margin-left 0
			li:hover ul
				display block
			li:hover > a
				text-decoration underline
			li + li
				margin-left 40px
				
footer
	margin-top 25px
	padding 0 90px
	color main-grey
	a
		color main-grey
		
#content
	padding 0 90px
					
/* Home Page */
#slides
	margin-top 15px
	ul
		list-style none
		padding 0
		position relative
		height 530px
		width 800px
		margin 0 auto
		li
			position absolute
			display none
			
/* Photography Page */
#albums
	ul
		padding 0
		list-style none
		clearfix()
		li
			float left
			width 190px
			a
				display block
				text-align center
				text-decoration none
				img
					padding 5px
					border 1px solid #ccc
				span
					font-size 11px
					color main-grey
		li + li
			margin-left 12px
			
/* Album Page */
/* Photography Page */
#album
	ul
		padding 0
		list-style none
		clearfix()
		li
			float left
			width 190px
			img
				padding 5px
				border 1px solid #ccc
		li + li
			margin-left 12px
		