*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif;background-image:url("sprites/body_bg.png")}
#container{width:980px;background-color:#fff;margin:75px auto;padding:25px}
header{text-align:center;zoom:1;}
header:before,header:after{content:"";display:table}
header:after{clear:both}
header nav ul{padding:0;width:800px;margin:0 auto;zoom:1;}
header nav ul:before,header nav ul:after{content:"";display:table}
header nav ul:after{clear:both}
header nav ul li{float:left;}
header nav ul li a{color:#6c6c6c;text-decoration:none;font-size:16px;text-transform:uppercase;letter-spacing:3px}
header nav ul li + li{margin-left:80px}
#slides{margin-top:25px;}
#slides ul{list-style:none;padding:0;position:relative;height:400px;width:800px;margin:0 auto;}
#slides ul li{position:absolute;display:none}
