/* Variables */
main-grey = #6c6c6c

/* General Styles */
* 
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

body
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-image url(sprites/body_bg.png)

#container
	width 980px
	background-color #fff
	margin 75px auto
	padding 20px 90px
	
h1
	color main-grey
	font-weight normal

header
	text-align center
	clearfix()
	nav
		ul
			padding 0
			clearfix()
			li 
				float left
				a
					color main-grey
					text-decoration none
					font-size 16px
					text-transform uppercase
					letter-spacing	3px
			li + li
				margin-left 80px
				
footer
	margin-top 25px
	color main-grey
	a
		color main-grey
					
/* Home Page */
#slides
	margin-top 25px
	ul
		list-style none
		padding 0
		position relative
		height 400px
		width 800px
		margin 0 auto
		li
			position absolute
			display none
			
/* Photography Page */
#albums
	ul
		padding 0
		list-style none
		clearfix()
		li
			float left
			width 190px
			a
				display block
				text-align center
				text-decoration none
				img
					padding 5px
					border 1px solid #ccc
				span
					font-size 11px
					color main-grey
		li + li
			margin-left 12px
			
/* Album Page */
/* Photography Page */
#album
	ul
		padding 0
		list-style none
		clearfix()
		li
			float left
			width 190px
			img
				padding 5px
				border 1px solid #ccc
		li + li
			margin-left 12px
		